//Colores primarios
$blanco: #ffffff;
$palido: #e8daef;
$chillon: #c39bd3;


//Secundarios
$morado: #d5bae1;
$azul: #3d9cd4;
$gris: #ece9ee;
$verde: #57cd66;

//Sobreescribir variables de bootstrap
$primary: $chillon;
$secondary: $palido;
$light: $blanco;
$info: $gris;
//Fuentes
$main-font: 'Scope-one';
$secondary-font: 'Roboto';


@font-face {
    font-family: $secondary-font;
    src: url(../fonts/Roboto-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: $main-font;
    src: url(../fonts/ScopeOne-Regular.ttf);
}

.offcanvas {
    font-family: Roboto;
    width: 60% !important;
}

.active {
    background-color: $chillon;
}

body {
    font-family: $main-font;
    letter-spacing: .05rem;
}

p,
a {
    font-family: $secondary-font;
}

ul {
    font-family: $secondary-font;
}

.nav-item {
    &:hover {
        background-color: $primary;
    }

    padding-left: 1rem;
}

@media screen and (min-width: 768px) {
    .img {
        background-size: 30rem;
        height: 180px;
    }

}

.btn-redondo {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem !important;
}

body {
    font-family: 'Scope-one';
    line-height: 2;
}

.img {
    background-image: url('../img/image%204.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 16rem;
    margin: auto;
    height: 100px;
}

.btn-mod-primary,
.btn-mod-secondary {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 30px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
}

.btn-mod-primary {
    background-color: $primary;
}

.btn-mod-secondary {
    background-color: $secondary;
}

.card {
    border: none !important;
    border-radius: 2rem !important;
    height: 400px !important;
    text-align: center;
    padding-top: 2rem !important;
    font-size: 1.6rem;
    max-width: 300px;
}

header {
    background-color: #beade2;
}

.content {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

select,
input {
    color: black;
    background-color: $gris !important;
    border: none !important;
    height: 40px;
    border-radius: 40px !important;
}

.title {
    font-family: $main-font
}

.card-title {
    background-color: $blanco;
    width: 75%;
    border-radius: 1.8rem;
    padding: 1rem;
    font-size: 1.8rem;
}

main {
    padding: 1rem;
}

.login-input {
    background-color: transparent !important;
    border-bottom: 3px solid $gris !important;
    border-radius: 0px !important;
}

.login {
    position: fixed;
    width: 30rem !important;
    left: 1rem;
    position: absolute;
    max-width: 1000px;
    @media screen and (min-width: 768px) {
        left: 0;
        width: 100%;
    }
}

.login>form {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    @media screen and (min-width: 768px) {
        border-radius: 3rem !important;
    }
}

.logo {
    position: fixed !important;
    width: 13rem !important;
    height: 18rem !important;
    left: 0;
    top: 8rem;

    @media screen and (min-width: 768px) {
        position: static !important;
        display: block;
    }
}

.login a{
    color: $azul;
    text-decoration: none;
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';